:root {
    --accent-color: hsl(240 60% 80%)
}

body {
    font-family: 'Helvetica Neue', sans-serif;
}

.orderable {
    -webkit-user-select: none;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    user-select: none;
}

.orderable__item {
    background: hsl(0 0% 95%);
    border: 1px solid var(--accent-color);
    box-sizing: border-box;
    color: black;
    display: block;
    height: 72px;
    margin: 12px;
    min-width: 72px;
    padding: 3px;
    text-align: center;
    width: 72px;
}

.orderable__insertion-marker {
    background: var(--accent-color);
    border-radius: 2px;
    border: none;
    box-sizing: border-box;
    height: 72px;
    margin: 0 -3px;
    min-width: 1px;
    position: relative;
    width: 6px;
}

.orderable__selected {
    background: var(--accent-color);
    color: white;
}
