:root {
    --accent-color: oklch(75% .1 280);
}

body {
    font-family: 'Helvetica Neue', sans-serif;
}

.orderable {
    -webkit-user-select: none;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    user-select: none;
}

.orderable__item {
    align-content: end;
    background: oklch(95% 0 0);
    border: 1px solid var(--accent-color);
    box-sizing: border-box;
    color: black;
    display: grid;
    font-size: 2rem;
    height: 72px;
    justify-content: start;
    margin: 12px;
    min-width: 72px;
    padding: 3px;
    padding-left: 9px;
    width: 72px;
}

.orderable__insertion-marker {
    background: var(--accent-color);
    border-radius: 2px;
    border: none;
    box-sizing: border-box;
    height: 72px;
    margin: 0 -3px;
    min-width: 1px;
    position: relative;
    width: 6px;
}

.orderable__selected {
    background: var(--accent-color);
    color: white;
}
